wheels/*
plugins/*
config/app.cfm
config/environment.cfm
config/design/*
config/development/*
config/maintenance/*
config/production/*
config/testing/*
controllers/Controller.cfc
controllers/Wheels.cfc
db/sql/*
events/*
files/*
images/*
javascripts/*
lib/*
miscellaneous/*
models/Model.cfc
models/Wheels.cfc
stylesheets/*
tests/*
views/helpers.cfm
views/wheels/*
/Application.cfc
/index.cfm
/IsapiRewrite4.ini
/rewrite.cfm
/root.cfm
/settings.xml
/web.config